In [2]:
#WAP to input three numbers and arrange them is ascending order:
n1=int(input("Enter first number : "))
n2=int(input("Enter second number : "))
n3=int(input("Enter third number : "))
if(n1<n2 and n1<n3):
    if(n2<n3):
        print(n1,n2,n3)
    else:
        print(n1,n3,n2)
elif(n2<n1 and n2<n3):
    if(n1<n3):
        print(n2,n1,n3)
    else:
        print(n2,n3,n1)
else:
    if(n1<n2):
        print(n3,n1,n2)
    else:
        print(n3,n2,n1)

Enter first number : 65765
Enter second number : 665
Enter third number : 809
665 809 65765

In [13]:
#WAP to input three numbers and print largest number:
n1=int(input("Enter first number : "))
n2=int(input("Enter second number : "))
n3=int(input("Enter third number : "))
if(n1>n2):
    if(n1>n3):
        print("largest number = ",n1)
elif(n2>n3):
    print("largest number = ",n2)
else:
    print("largest number = ",n3)

Enter first number : 8
Enter second number : 9
Enter third number : 10
largest number =  10

In [42]:
#WAP to print from 1 to 20:
for i in range(1,21):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [40]:
#WAP to print all even numbers from 10 to 20:
for i in range(10,20,2):
    print(i,end=' ')

10 12 14 16 18

In [20]:
#WAP to print the all even and odd number:
sum=0
for i in range(10,20,2):
    sum+=i
print(sum)
sum=0
for i in range(11,20,2):
    sum+=i
print(sum)

70
75

In [21]:
#WAP to print the all even and odd number:
s=t=0
for i in range(10,20):
    if(i%2==0):
        s+=i
    else:
        t+=i
print(s,t)

70 75

In [24]:
#WAP to input a number and print its factorial:
num=int(input("Enter any number : "))
f=1
for i in range(1,num+1):
    f*=i
print("Factorial = ",f)

Enter any number : 6
Factorial =  720

In [39]:
#WAP to print fibonacci series:
n1,n2=0,1
print(n1,n2,end=' ')
for i in range(1,8):
    i=n1+n2
    print(i,end=' ')
    n1=n2
    n2=i

0 1 1 2 3 5 8 13 21

In [36]:
#WAP to print the following series:
n=int(input("Enter any number : "))
for i in range(1,n+1):
    if(i<n):
        print("1/",i,"! +",end=' ')
    else:
        print("1/",i,"!")

Enter any number : 10
1/ 1 ! + 1/ 2 ! + 1/ 3 ! + 1/ 4 ! + 1/ 5 ! + 1/ 6 ! + 1/ 7 ! + 1/ 8 ! + 1/ 9 ! + 1/ 10 !

In [37]:
#WAP to print the following series:
n=int(input("Enter any number : "))
s,f=0,1
for i in range(1,n+1):
    f*=i
    m=1/f
    s+=m
print(s)

Enter any number : 2
1.5