In [2]:
#Functions
def demo():
    print("Welcome")

demo()   # calling function

Welcome

In [3]:
#Functions
def demo(name):  #here , name is the parameter
    print(name)

demo("subhash")

subhash

In [6]:
#Functions
def demo(msg,name):
    print(msg,",",name)

demo("hello","subhash")   # calling function

hello , subhash

In [9]:
#Functions
def demo(name):   #formal parameter
    print(name)

n=input("Enter the name : ")

demo(n)  #actual parameter

Enter the name : Subhash
Subhash

In [11]:
#WAP to creat a function which shoule two parameters as input  and you have to swap them and 
#print their updated values
def swap(n1,n2):
    n1,n2=n2,n1
    #print(n1,n2)
    return(n1,n2)  #in python , return multiple values
num1=int(input("Enter first number :"))
num2=int(input("Enter second number :"))
n3,n4=swap(num1,num2)
print(n3,n4)

Enter first number :7
Enter second number :8
8 7

In [12]:
#Local and Global variables
def demo():
    a=2   # a is local variable--->use only this function
demo()
print(a)  # cannot be accessed here

NameError: name 'a' is not defined

In [13]:
def demo(a):
    print(a)   # a is local variable--->use only this function
demo(2)
print(a)  # cannot be accessed here

2

NameError: name 'a' is not defined

In [14]:
name="john" #Global variable
def demo():
    print(name)
demo()
print(name)

john
john

In [15]:
a=10 #Global variable
def demo():
    a=8
    print(a)
demo()
print(a)

8
10

In [17]:
a=10 #Global variable
def demo():
    global a
    a=a+8
    print(a)
demo()
print(a)

18
18

In [19]:
#function have default argument
def demo(a=10):
    print(a)
demo()

10

In [20]:
#function have default argument
def demo(a=10):
    print(a)
demo(4)

4

In [22]:
def demo(*args):
    print(*args)
demo(4,12,87,90,3)

4 12 87 90 3

In [28]:
#Recuesion
#calculate factorial of a number using recursive function
def factorial(n):
    if(n==0):
        return 1
    else:
        return n*factorial(n-1)
num=int(input("Enter number do you want to calculate factorial : "))
fact=(factorial(num))
print(fact)

Enter number do you want to calculate factorial : 7
5040

In [36]:
#calculate the sum of digits using recursive function
def sum(n):
    if(n==0):
        return 0
    else:
        k=n%10
        return k+sum(n//10)
num=int(input("Enter number : "))
print(sum(num))

Enter number : 12345
15

In [45]:
#calculate power of a number using recursion ---> base abd exponent
def power(b,e):
    if(e==0):
        return 1
    else:
        return (b*power(b,e-1))
base=int(input("Enter base : "))
exponent=int(input("Enter exponent : "))
print(power(base,exponent))

Enter base : 8
Enter exponent : 3
512

In [50]:
#WAP to check whether a string is palindrome or not using recursion
def palindrome(str):
    if len(str)==1:
        return True
    else:
        if(str[0]==str[-1]):
            return palindrome(str[1:-1])
        else:
            return False
str1=input("Enter string value :")        
print(palindrome(str1))

Enter string value :12321
True

In [3]:
#WAP to print fibonacci series using recursion
def fibonacci(n):
    if(n==0):
        return 0
    if(n==1):
        return 1
    return fibonacci(n-1)+fibonacci(n-2)
num=int(input("Enter number : "))
for i in range(0,num):
    print(fibonacci(i),end=' ')
    #print(k,end=' ')

Enter number : 10
0 1 1 2 3 5 8 13 21 34

In [1]:
#WAP to print the sum of n natural number using recursion.
def sum(n):
    if(n==1):
        return 1
    else:
        return n+sum(n-1)
num=int(input("Enter any number : "))
print(sum(num))

Enter any number : 20
210

In [4]:
#Lambda function
# Syntex:
# lambda(argument,arg2....):body
#lambda function cannot use foe loop
result=lambda x:x
print(result(10))

10

In [5]:
result=lambda x:x+8
print(result(10))

18

In [11]:
lst=[1,2,3,4,5]
result=(map(lambda x:x**2,lst))
print(list(result))

[1, 4, 9, 16, 25]

In [1]:
# WAP alambda expression which convert all the strings inside the list into uppercase
lst=["subhash","kumar"]
res=map(lambda x:x.upper(),lst)
print(list(res))

['SUBHASH', 'KUMAR']

In [2]:
lst=[12,45,67,11]
result=filter(lambda x:x%2,lst)
list(result)

[45, 67, 11]

In [8]:
#WAP a program to filter only integers from a list of variable
lst=['a',1,2,4,6,'b','g']
result=filter(lambda x:type(x)==int,lst)
print(list(result))

[1, 2, 4, 6]

In [13]:
models=[{'make':'nokia','model':256,'color':'black'},
        {'make':'mi max','model':2,'color':'gold'},
        {'make':'samsung','model':7,'color':'blue'}]
result=filter(lambda x:x['model']>7,models)
list(result)

[{'make': 'nokia', 'model': 256, 'color': 'black'}]

In [14]:
from functools import reduce
lst=[1,2,3,4,5,6,7]
result=reduce(lambda x,y:x+y,lst)
print(result)

28

In [17]:
from functools import reduce
lst=[1,2,3,4,5,6,7,9,10]
result=reduce(lambda x,y:max(x,y),lst)
print(result)

10

In [19]:
from functools import reduce
lst=[1,2,3,4,5,6,7,9,10]
result=reduce(lambda x,y:x if x>y else y,lst)
print(result)

10

In [26]:
models=[{'make':'nokia','model':256,'color':'black'},
        {'make':'mi max','model':2,'color':'gold'},
        {'make':'samsung','model':7,'color':'blue'}]
resule=models.sort(key=lambda x:x['model'])
print(models)

[{'make': 'mi max', 'model': 2, 'color': 'gold'}, {'make': 'samsung', 'model': 7, 'color': 'blue'}, {'make': 'nokia', 'model': 256, 'color': 'black'}]

In [28]:
models=[{'make':'nokia','model':256,'color':'black'},
        {'make':'mi max','model':2,'color':'gold'},
        {'make':'samsung','model':7,'color':'blue'}]
result=sorted(models,key=lambda x:x['model'])
print(result)

[{'make': 'mi max', 'model': 2, 'color': 'gold'}, {'make': 'samsung', 'model': 7, 'color': 'blue'}, {'make': 'nokia', 'model': 256, 'color': 'black'}]

In [37]:
#WAP to add two lists using lambda function
lst1=[1,2,3,4,5]
lst2=[1,2,3,4,9,8]
result=map(lambda x,y:x+y,lst1,lst2)
print(list(result))

[2, 4, 6, 8, 14]

In [2]:
#Write a Python program to filter the height and weight of students, which are stored in a dictionary using lambda.
#{'Cierra Vega': (6.2, 72), 'Alden Cantrell': (5.9, 65), 'Kierra Gentry': (6.0, 68), 'Pierre Cox': (5.8, 66)}
#Height> 6ft and Weight>70kg:{'Cierra Vega': (6.2, 70)}
d={'Cierra Vega': (6.2, 72), 'Alden Cantrell': (5.9, 65), 'Kierra Gentry': (6.0, 68), 'Pierre Cox': (5.8, 66)}
result=dict(filter(lambda x:x[1][0]>6 and x[1][1]>70,d.items()))
print((result))

{'Cierra Vega': (6.2, 72)}

In [3]:
d={'Cierra Vega': (6.2, 72), 'Alden Cantrell': (5.9, 65), 'Kierra Gentry': (6.0, 68), 'Pierre Cox': (5.8, 66)}
for key,val in d.items():
    print(key,val)

Cierra Vega (6.2, 72)
Alden Cantrell (5.9, 65)
Kierra Gentry (6.0, 68)
Pierre Cox (5.8, 66)