In [5]:
print("Welcome to college campus drive.")
age=int(input("Enter your age : "))
if(age>=18):
    exp=int(input("Enter your exp. year : "))
    if(exp>1):
        college=input("Enter your college name : ")
        if(college=='rce' or college=='rit'):
            edu=input("Enter your course : ")
            if(edu=='b.tech' or edu=='bca' or edu=='mca'):
                print("Your are eligible")
            else:
                print("your course is not match")
        else:
            print("college is not match")
    else:
        print("Youe exp is below ")
else:
    print("Your age is below 18")

Welcome to college campus drive.
Enter your age : 19
Enter your exp. year : 5
Enter your college name : rit
Enter your course : bca
Your are eligible

In [11]:
#list
lst=[1,"a",True,3+4j,4.5]
print(lst)
print(lst[3],lst[-2])

[1, 'a', True, (3+4j), 4.5]
(3+4j) (3+4j)

In [12]:
#list
lst=list([1,"a",True,3+4j,4.5])
print(lst)

[1, 'a', True, (3+4j), 4.5]

In [14]:
#list taking input.
lst=eval(input("ENter the list element : "))
print(lst)
print(type(lst[2]))

ENter the list element : [2,"u",3+4j,5.9]
[2, 'u', (3+4j), 5.9]
<class 'complex'>

In [18]:
#join the two list.
l1=[1,3,5]
l2=[True,4+3j]
print(l1+l2)
print(l1*3)

[1, 3, 5, True, (4+3j)]
[1, 3, 5, 1, 3, 5, 1, 3, 5]

In [20]:
#comparing list.
l1=["apple","kiwi","banana"]
l2=["apple","watermelon","orange"]
print(l1<l2)   #In this case,list item are compared ascii codes

True

In [22]:
#Iterating a list.
l=[1,2,3,4]
print(len(l))
for i in l:
    print(i,end=' ')

1 2 3 4 4

In [24]:
#Iterating a list.
l=[1,2,3,4]
for i in range(0,len(l)):
    print(l[i],end=' ')

1 2 3 4

In [26]:
#WAP to input a list and print the elements in reverse order.
l=eval(input("Enter the list elements : "))
for i in range(len(l),0,-1):
    print(i,end=' ')

Enter the list elements : [1,2,3,4,5,6]
6 5 4 3 2 1

In [32]:
#Using slicing , fetch elements starating from 4 till a.
lst=[1,2,"a",True,4]
print(lst[-1:-4:-1])

[4, True, 'a']

In [35]:
#Converting string to list.
string="subhash007"
print(list(string))

['s', 'u', 'b', 'h', 'a', 's', 'h', '0', '0', '7']

In [36]:
#Updating list elements.
lst=[1,2,3,4.5,True]
lst[1]="hello"
print(lst)

[1, 'hello', 3, 4.5, True]

In [39]:
#List functions
lst=[1,2,3,"hello"]
lst.append(23) #inserts element at the end of list
print(lst)

[1, 2, 3, 'hello', 23]

In [40]:
#List functions
lst=[1,2,3,"hello"]
lst.extend([23,56,98,True]) #inserts multiple element at the end of list
print(lst)

[1, 2, 3, 'hello', 23, 56, 98, True]

In [48]:
#List functions
lst=[1,2,3,"hello"]
del lst[3] #deletes the element at particular index.
print(lst)

[1, 2, 3]

In [47]:
#List functions
lst=[1,2,3,"hello"]
value=lst.pop()  #returns the deleted element  ---> by defult it take last index
print(value)
print(lst)

hello
[1, 2, 3]

In [52]:
#List functions
lst=[1,2,3,"hello",2,2]
print(lst.count(2))   #returns the frequency of occurrence of an element
print(lst.index(3))  #returns the index of an element

3
2

In [53]:
#List functions
lst=[1,2,3,"hello",2,2]
#syntex
#lst.insert(index,what u inserted)
lst.insert(3,40)  #inserts 40 at index 3.
print(lst)

[1, 2, 3, 40, 'hello', 2, 2]

In [54]:
#list function.
#sort the list
lst=[1,3,5,7,8,4,7,5]
lst.sort()  #sorts the list in ascending order
print(lst)

[1, 3, 4, 5, 5, 7, 7, 8]

In [55]:
#list function.
#sort the list
lst=[1,3,5,7,8,4,7,5]
lst.sort(reverse=True) #sorts the list in descending order
print(lst)

[8, 7, 7, 5, 5, 4, 3, 1]

In [56]:
#list function.
lst=[1,3,5,7,8,4,7,5]
lst.reverse()  #reverse the list
print(lst)

[5, 7, 4, 8, 7, 5, 3, 1]

In [64]:
#WAP to search for a element in a list .if the element is found ,print found along with its position otherwise print not found.
lst=[1,2,3,4,5,6,7,8,"hello",True]
lst1=eval(input("Which element do you want to search : "))
flag=1
for i in range(0,len(lst)):
    if(lst[i]==lst1[0]):
        print(lst[i],"at position",i+1)
        flag=0
        break
if(flag!=0):
    print("not found")

Which element do you want to search : ["hello"]
hello at position 9

In [72]:
#WAP to print the seuare of all the elements of list and then store them into a new list
lst1=[1,2,3,4,5,6,7,8,9]
lst2=[]
for i in lst1:
    lst2.append(i**2)
print(lst2)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [9]:
n1=int(input("Enter starting number : "))
n2=int(input("Enter stoping number : "))
for i in range(n1,n2+1):
    if(i==1):
        print("1 is neither prime nor composite")
        continue
    for j in range(2,i):
        if(i%j==0):
            break
    else:
        print(i,end=" ")

Enter starting number : 1
Enter stoping number : 30
1 is neither prime nor composite
2 3 5 7 11 13 17 19 23 29

In [2]:
#Membership operator
# 1.  in
# 2.  not in
lst=[1,2,3,4,5,6]
print(8 in lst)
print("hello" not in lst)

False
True

In [5]:
#Identity operator.
l1=[1,2,3,4]
l2=[1,2,3,4]
print(id(l1))
print(id(l2))
print(l1 is l2)  # id of l1 and are is different
print(l1 is not l2)

139972315917440
139972315916736
False
True

In [8]:
#Tuples
t=(1,2,3,4,"hello")
t1=tuple((1,2,3,4,"hello")) # also tuple can be created like this...
print(t)
print(t1)

(1, 2, 3, 4, 'hello')
(1, 2, 3, 4, 'hello')

In [9]:
t=(1,2,3,4)
print(max(t))
print(min(t))

4
1

In [10]:
#Tuple unpacking.
a,b,c,d,e=(1,2,"hello","hi","bye")
print(a,b,c,d,e)

1 2 hello hi bye

In [16]:
#Sets...
fruits={"mango","apple","orange","orange"}
print(fruits)

{'apple', 'mango', 'orange'}

In [17]:
#Sets...
fruits={"mango","apple","orange","orange"}
print("mango" in fruits)

True

In [18]:
#Sets...
fruits={"mango","apple","orange","orange"}
for i in fruits:
    print(i)

apple
mango
orange

In [20]:
#Sets...
fruits={"mango","apple","orange","orange"}
fruits.add("kiwi")
print(fruits)

apple
kiwi
mango
orange

In [22]:
#Sets...
fruits={"mango","apple","orange","orange"}
fruits.update(["kiwi","banana","watermelon"])
print(fruits)

{'banana', 'watermelon', 'orange', 'kiwi', 'mango', 'apple'}

In [23]:
#Sets...
fruits={"mango","apple","orange","orange"}
print(len(fruits))
fruits.clear()
print(fruits)

3
set()

In [27]:
#Sets...
fruits={"mango","apple","orange","orange"}
#fruits.remove("mango")
print(fruits.pop())
print(fruits)

apple
{'mango', 'orange'}

In [30]:
#Sets...
fruits={"mango","apple","orange","orange"}
del fruits
print(fruits)

NameError: name 'fruits' is not defined

In [31]:
#join two sets
f1={"mango","apple","orange","orange"}
f2={"banana","kiwi","watermelon"}
f3=f1.union(f2)
print(f3)

{'banana', 'mango', 'watermelon', 'orange', 'apple', 'kiwi'}

In [33]:
#intersection of two sets
f1={"mango","apple","orange","orange"}
f2={"banana","apple","watermelon"}
f3=f1.intersection(f2)
print(f3)

{'apple'}

In [34]:
#superset
set1={1,2,3,4}
set2={1,3,4}
print(set1.issuperset(set2))

True

In [35]:
#super subset
set1={1,2,3,4}
set2={1,3,4}
print(set1.issubset(set2))

False

In [36]:
#copy of sets one from other
set1={1,2,3,4,5}
set2=set1.copy()
print(set2)

{1, 2, 3, 4, 5}

In [37]:
set1={1,2,3,4,5}
set2={7,8,9,3}
set3=set1.difference(set2)
print(set3)

{1, 2, 4, 5}

In [38]:
#Dictionary
d={"a":1,"b":2,"c":3}
print(d)

{'a': 1, 'b': 2, 'c': 3}

In [40]:
#Dictionary
d={"a":1,"b":2,"c":3,12:"b",12.3:23,(1,2):(1,2)}
print(d)

{'a': 1, 'b': 2, 'c': 3, 12: 'b', 12.3: 23, (1, 2): (1, 2)}

In [41]:
#Dictionary
d={"a":1,"b":2,"c":3,12:"b",12.3:23,(1,2):(1,2)}
print(d["c"])

3

In [42]:
#Dictionary
d={"a":1,"b":2,"c":3,12:"b",12.3:23,(1,2):(1,2)}
print(d[(1,2)])

(1, 2)

In [45]:
#Dictionary
d={"a":1,"b":2,"c":3,12:"b",12.3:23,(1,2):[1,2]}
print(d.get((1,2)))

[1, 2]

In [47]:
d={"a":1,"b":2,"c":3,12:"b",12.3:23,(1,2):[1,2]}
for key in d:
    print(key,"--->",d[key])

a ---> 1
b ---> 2
c ---> 3
12 ---> b
12.3 ---> 23
(1, 2) ---> [1, 2]

In [52]:
#Dictionary functions.
d={"a":1,"b":2,"c":3,12:"b",12.3:23,(1,2):[1,2]}
print(len(d))
print(d.keys())
print(d.values())

6
dict_keys(['a', 'b', 'c', 12, 12.3, (1, 2)])
dict_values([1, 2, 3, 'b', 23, [1, 2]])

In [54]:
#Dictionary functions.
d={"a":1,"b":2,"c":3,12:"b",12.3:23,(1,2):[1,2]}
print(d)
del d["c"]
print(d)

{'a': 1, 'b': 2, 'c': 3, 12: 'b', 12.3: 23, (1, 2): [1, 2]}
{'a': 1, 'b': 2, 12: 'b', 12.3: 23, (1, 2): [1, 2]}

In [55]:
#Dictionary functions.
d={"a":1,"b":2,"c":3,12:"b",12.3:23,(1,2):[1,2]}
print(d.pop("b"))
print(d)

2
{'a': 1, 'c': 3, 12: 'b', 12.3: 23, (1, 2): [1, 2]}

In [56]:
#Dictionary functions.
d={"a":1,"b":2,"c":3,12:"b",12.3:23,(1,2):[1,2]}
print(d.items())  #return both key and values pair
print(d)

dict_items([('a', 1), ('b', 2), ('c', 3), (12, 'b'), (12.3, 23), ((1, 2), [1, 2])])
{'a': 1, 'b': 2, 'c': 3, 12: 'b', 12.3: 23, (1, 2): [1, 2]}

In [57]:
#Dictionary functions.
d={"a":1,"b":2,"c":3,12:"b",12.3:23,(1,2):[1,2]}
d.clear()  #return empty dictionary
print(d)

{}

In [58]:
#Dictionary functions.
d1={"a":1,"b":2,"c":3}
d2={"p":12,"q":34,"a":23,"c":4}
d1.update(d2)
print(d1)

{'a': 23, 'b': 2, 'c': 4, 'p': 12, 'q': 34}

In [63]:
#creat a dictionary by taking key and value as input.
d={}
key=input("Enter key name : ")
value=input("Enter dictionary value : ")
d[key]=value
print(d)

Enter key name : b
Enter dictionary value : 8
{'b': '8'}

In [68]:
#WAP to print the names ages of 5 student where are the keys and agages are its values.Take name and age as input.
d={}
for i in range(1,6):
    key=input("Enter name of student : ")
    value=input("Enter age of student : ")
    d[key]=value
print(d)

Enter name of student : navneet
Enter age of student : 75
Enter name of student : subhash
Enter age of student : 22
Enter name of student : shivendra
Enter age of student : 90
Enter name of student : sakshi
Enter age of student : 16
Enter name of student : riya
Enter age of student : 120
{'navneet': '75', 'subhash': '22', 'shivendra ': '90', 'sakshi': '16', 'riya': '120'}