In [2]:
import pandas as pd
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, 20, 9, 20, 14.5, 17, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

df=pd.DataFrame(exam_data)
df

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James   20.0         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura   17.0         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes

In [3]:
df.groupby(['score','name']).groups

{(8.0, 'Kevin'): [8], (9.0, 'Dima'): [1], (9.0, 'Emily'): [4], (12.5, 'Anastasia'): [0], (14.5, 'Matthew'): [6], (16.5, 'Katherine'): [2], (17.0, 'Laura'): [7], (19.0, 'Jonas'): [9], (20.0, 'James'): [3], (20.0, 'Michael'): [5]}

In [4]:
gk=df.groupby(['score','name'])
gk.first()

                 attempts qualify
score name
8.0   Kevin             2      no
9.0   Dima              3      no
      Emily             2      no
12.5  Anastasia         1     yes
14.5  Matthew           1     yes
16.5  Katherine         2     yes
17.0  Laura             1      no
19.0  Jonas             1     yes
20.0  James             3      no
      Michael           3     yes

In [5]:
gk.last()

                 attempts qualify
score name
8.0   Kevin             2      no
9.0   Dima              3      no
      Emily             2      no
12.5  Anastasia         1     yes
14.5  Matthew           1     yes
16.5  Katherine         2     yes
17.0  Laura             1      no
19.0  Jonas             1     yes
20.0  James             3      no
      Michael           3     yes

In [6]:
data1 = {'Name':['Jai', 'Anuj', 'Jai', 'Princi',
                 'Gaurav', 'Anuj', 'Princi', 'Abhi'],
        'Age':[27, 24, 22, 32,
               33, 36, 27, 32],
        'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj',
                   'Jaunpur', 'Kanpur', 'Allahabad', 'Aligarh'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd',
                         'B.Tech', 'B.com', 'Msc', 'MA']}
df=pd.DataFrame(data1)
df

     Name  Age    Address Qualification
0     Jai   27     Nagpur           Msc
1    Anuj   24     Kanpur            MA
2     Jai   22  Allahabad           MCA
3  Princi   32    Kannuaj           Phd
4  Gaurav   33    Jaunpur        B.Tech
5    Anuj   36     Kanpur         B.com
6  Princi   27  Allahabad           Msc
7    Abhi   32    Aligarh            MA

In [7]:
df.groupby(['Name','Qualification']).groups

{('Abhi', 'MA'): [7], ('Anuj', 'B.com'): [5], ('Anuj', 'MA'): [1], ('Gaurav', 'B.Tech'): [4], ('Jai', 'MCA'): [2], ('Jai', 'Msc'): [0], ('Princi', 'Msc'): [6], ('Princi', 'Phd'): [3]}

In [8]:
gk=df.groupby(['Name','Qualification'])
gk.first()

                      Age    Address
Name   Qualification
Abhi   MA              32    Aligarh
Anuj   B.com           36     Kanpur
       MA              24     Kanpur
Gaurav B.Tech          33    Jaunpur
Jai    MCA             22  Allahabad
       Msc             27     Nagpur
Princi Msc             27  Allahabad
       Phd             32    Kannuaj

In [9]:
gk.last()

                      Age    Address
Name   Qualification
Abhi   MA              32    Aligarh
Anuj   B.com           36     Kanpur
       MA              24     Kanpur
Gaurav B.Tech          33    Jaunpur
Jai    MCA             22  Allahabad
       Msc             27     Nagpur
Princi Msc             27  Allahabad
       Phd             32    Kannuaj

In [10]:
import numpy as np
grp=df.groupby('Name')
grp.aggregate(np.sum)

/tmp/ipykernel_3310/2448346335.py:3: FutureWarning: The operation <function sum at 0x7fa105fc59e0> failed on a column. If any error is raised, this will raise an exception in a future version of pandas. Drop these columns to avoid this warning.
  grp.aggregate(np.sum)

        Age
Name
Abhi     32
Anuj     60
Gaurav   33
Jai      49
Princi   59

In [11]:
grp.aggregate([np.sum,np.mean])

/tmp/ipykernel_3310/3810727768.py:1: FutureWarning: ['Address', 'Qualification'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  grp.aggregate([np.sum,np.mean])

       Age
       sum  mean
Name
Abhi    32  32.0
Anuj    60  30.0
Gaurav  33  33.0
Jai     49  24.5
Princi  59  29.5

In [12]:
df

     Name  Age    Address Qualification
0     Jai   27     Nagpur           Msc
1    Anuj   24     Kanpur            MA
2     Jai   22  Allahabad           MCA
3  Princi   32    Kannuaj           Phd
4  Gaurav   33    Jaunpur        B.Tech
5    Anuj   36     Kanpur         B.com
6  Princi   27  Allahabad           Msc
7    Abhi   32    Aligarh            MA

In [13]:
def change_age(x):
    return (x-x.mean())/x.std()*10
grp.transform(change_age)

/tmp/ipykernel_3310/2246558412.py:3: FutureWarning: Dropping invalid columns in DataFrameGroupBy.transform is deprecated. In a future version, a TypeError will be raised. Before calling .transform, select only columns which should be valid for the function.
  grp.transform(change_age)

        Age
0  7.071068
1 -7.071068
2 -7.071068
3  7.071068
4       NaN
5  7.071068
6 -7.071068
7       NaN

# Filtration

In [14]:
grp

In [15]:
def filter_data(x):
    return len(x)>=2
grp.filter(filter_data)

     Name  Age    Address Qualification
0     Jai   27     Nagpur           Msc
1    Anuj   24     Kanpur            MA
2     Jai   22  Allahabad           MCA
3  Princi   32    Kannuaj           Phd
5    Anuj   36     Kanpur         B.com
6  Princi   27  Allahabad           Msc

In [16]:
grp1=df.groupby('Address')
def filter_data(x):
    return len(x)>=2
grp1.filter(filter_data)

     Name  Age    Address Qualification
1    Anuj   24     Kanpur            MA
2     Jai   22  Allahabad           MCA
5    Anuj   36     Kanpur         B.com
6  Princi   27  Allahabad           Msc

In [17]:
df.groupby('Name').count()

        Age  Address  Qualification
Name
Abhi      1        1              1
Anuj      2        2              2
Gaurav    1        1              1
Jai       2        2              2
Princi    2        2              2

In [18]:
df.groupby('Name').sum()

/tmp/ipykernel_3310/4054826325.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Name').sum()

        Age
Name
Abhi     32
Anuj     60
Gaurav   33
Jai      49
Princi   59

In [19]:
df.groupby('Name').min()

        Age    Address Qualification
Name
Abhi     32    Aligarh            MA
Anuj     24     Kanpur         B.com
Gaurav   33    Jaunpur        B.Tech
Jai      22  Allahabad           MCA
Princi   27  Allahabad           Msc

In [27]:
df.groupby('Name').std()

/tmp/ipykernel_3310/3333022419.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Name').std()

             Age
Name
Abhi         NaN
Anuj    8.485281
Gaurav       NaN
Jai     3.535534
Princi  3.535534

In [21]:
df.groupby('Name').median()

/tmp/ipykernel_3310/1801294038.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.median is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Name').median()

         Age
Name
Abhi    32.0
Anuj    30.0
Gaurav  33.0
Jai     24.5
Princi  29.5

In [22]:
df.groupby('Name').mean()

/tmp/ipykernel_3310/2581118883.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Name').mean()

         Age
Name
Abhi    32.0
Anuj    30.0
Gaurav  33.0
Jai     24.5
Princi  29.5

In [23]:
df.groupby('Name').mean()

/tmp/ipykernel_3310/2581118883.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Name').mean()

         Age
Name
Abhi    32.0
Anuj    30.0
Gaurav  33.0
Jai     24.5
Princi  29.5

In [24]:
df.groupby('Name').var()

/tmp/ipykernel_3310/1639753876.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.var is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Name').var()

         Age
Name
Abhi     NaN
Anuj    72.0
Gaurav   NaN
Jai     12.5
Princi  12.5

In [28]:
df=pd.read_csv("https://raw.githubusercontent.com/datagy/data/main/sales.csv")
df

URLError: <urlopen error [Errno -2] Name or service not known>

In [26]:
df['date'].dtype

KeyError: 'date'

In [ ]:
df['date']=pd.to_datetime(df['date'])
df['date'].dtype

In [ ]:
csv_data=df.to_csv("/home/kali/Desktop/sales.csv")

In [ ]:
csv_data

In [ ]:
df

In [ ]:
df.head(10)

In [ ]:
df.groupby('region').ngroups

In [ ]:
df.groupby('region').groups

In [ ]:
df.groupby('region').groups.keys()

# Selecting a particular group

In [ ]:
df.groupby('region').get_group('South')

# Calculating the sales of each group

In [ ]:
averages={}

In [ ]:
#Applying an aggregate function on groups
average=df.groupby('region')['sales'].mean()
average

In [ ]:
df.groupby('region')['sales'].agg([np.mean,np.std,np.sum])

# Calculating percentage of region's sales

In [ ]:
df['percent of region sales']=df['sales']/df.groupby('region')['sales'].transform('sum')

In [ ]:
df

In [ ]:
grp1=df.groupby('region')
def get_mean(x):
    return x['sales'].mean()>20000
grp1.filter(get_mean)

In [ ]:
grp1=df.groupby('region')
def get_mean(x):
    return x['sales'].mean()<20000
grp1.filter(get_mean)

In [ ]:
grp1.filter(lambda x:x['sales'].mean()>20000)

In [ ]:
# Write a Pandas program to split the following dataframe by school code and get mean, min, and max value of age for each school.
# Test Data:
#    school class            name   date_Of_Birth   age  height  weight  address
# S1   s001     V  Alberto Franco     15/05/2002   12    173      35  street1
# S2   s002     V    Gino Mcneill     17/05/2002   12    192      32  street2
# S3   s003    VI     Ryan Parkes     16/02/1999   13    186      33  street3
# S4   s001    VI    Eesha Hinton     25/09/1998   13    167      30  street1
# S5   s002     V    Gino Mcneill     11/05/2002   14    151      31  street2
# S6   s004    VI    David Parkes     15/09/1997   12    159      32  street4

In [ ]:
data1=pd.DataFrame({"school":['s001','s002','s003','s001','s002','s004'],"class":['v','v','vi','vi','v','vi'],"name":['Alberto Franco','Gino Mcneill','Ryan Parkes','Eesha Hinton','Gino Mcneill','David Parkes'],"date of birth":['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],"age":[12,12,13,13,14,12],"height":[173,192,186,167,151,159],"weight":[35,32,33,30,31,32]})
data1

In [ ]:
data1.groupby('school')['age'].mean()

In [ ]:
data1.groupby('school')['age'].min()

# Matplotlib

# Line plot

In [ ]:
import matplotlib.pyplot as plt
days=[1,2,3,4,5,6,7,8,9,10]
temperature=[30.6,37,37,27,39,40.1,43,43.4,45,45.6]
plt.plot(days,temperature,color='g')
plt.xlabel("days")
plt.ylabel("temperature")

In [ ]:
days=[1,2,3,4,5,6,7,8,9,10]
temperature=[30.6,37,37,27,39,40.1,43,43.4,45,45.6]
mumb_temp=[39,39.4,40,36,35,27,39,30,40,35]
plt.plot(days,temperature,color='g',linestyle='--')
plt.plot(days,mumb_temp,color='r',linestyle='dotted')

In [ ]:
days=[1,2,3,4,5,6,7,8,9,10]
temperature=[30.6,37,37,27,39,40.1,43,43.4,45,45.6]
mumb_temp=[39,39.4,40,36,35,30,39,30,40,35]
plt.plot(days,temperature,color='g')
plt.plot(days,mumb_temp,color='r')

# Bar plot

In [ ]:
classes=["Python","R","AI","ML","DS"]
class_students=[30,15,20,26,19]
plt.bar(classes,class_students,color='g',width=0.3)

In [ ]:
plt.barh(classes,class_students,color='g')

In [ ]:
classes=["Python","R","AI","ML","DS"]
class1_students=[30,15,20,26,19]
class2_students=[40,20,10,20,29]
class3_students=[35,25,28,19,39]
import numpy as np
classes_index=np.arange(len(classes))
classes_index
width=0.2
plt.bar(classes_index,class1_students,width=0.4)
plt.bar(classes_index+width,class2_students,width=0.4)
plt.bar(classes_index+width+width,class3_students,width=0.4)

# Scatter plot

In [ ]:
math_marks=[88,98,70,89,79,97,80,95]
marks_range=[50,70,58,86,94,69,49,80]
plt.scatter(marks_range,math_marks)

In [ ]:
math_marks=[88,98,70,89,79,97,80,95]
marks_range=[50,70,58,86,94,69,49,80]
plt.scatter(marks_range,math_marks,marker='*',color='r')

# Pie Chart

In [ ]:
plt.pie(class1_students,labels=classes)

In [ ]:
plt.pie(class1_students,labels=classes,autopct="%0.2f%%")

In [ ]:
a=[22,87,5,43,56,73,55]
plt.hist(a)

In [ ]:
plt.hist(a,bins=[0,25,50,75,100])

In [ ]:
import pandas as pd
df=pd.read_csv("/home/kali/Downloads/Automobile_data.csv")
df

In [ ]:
#Find the most expensive car company name
df[['company','price']][df['price']==df['price'].max()]

In [ ]:
df=pd.read_csv("/home/kali/Downloads/company_sales_data.csv")

In [ ]:
df

In [ ]:
df.groupby(['toothpaste']).groups

In [ ]:
plt.scatter(df['month_number'],df['toothpaste'])

In [ ]:
plt.plot(df['month_number'],df['total_profit'],color='g')

In [ ]:
plt.bar(df['facecream'],df['facewash'],color='g',width=10)